.banner {
  background-image: url(pictures/bluendwhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}

.skill-padding {
  padding: 70px 0;
}

.slider-container {
  width: 100%;
  max-width: 1200px; 
  margin: 20px auto;
  overflow-x: auto; 
  white-space: nowrap; 
  display: flex; 
}


.slider {
  display: flex; 
  gap: 10px; 
}

.slide {
  flex: 0 0 auto; 
  width: 300px; 
  text-align: center; 
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #ddd;
}

.description {
  padding: 10px 15px;
}

.description h3 {
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #333;
}

.description p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .slider-container {
      max-width: 100%;
  }

  .slide {
      width: 100%; 
  }
}
